.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-image: linear-gradient(to right, #ff7b5c, #ff6c81);
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

/* 'Custom' CSS */

h1 {
  font-size: 26px;
}
h2 {
  font-size: 22px;
}


.title {
  margin: 8% auto;
}

.form-label {
  margin: auto 14%;
  text-align: left;
}

input[type="text"] {
  text-align: left;
  display: inline-block;
  width: 240px;
  height: 16px;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
}

.half {
  margin: 10% 5%;
  width: 30%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.login-box {
  width: 100%;
  height: 500px;
  margin: 8% auto;
  background: #eeeeee;
  color: #333;
  border-radius: 10px;
  overflow: hidden;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
