
.App {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-position: 0px 0px;
  height: 100%;
  width: 100%;
  margin: 0;
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

/* 'Custom' CSS */

/* h1 {
  font-size: 22px;
} */
/* h2 {
  font-size: 18px;
} */

.title {
  margin: 5% auto 0% auto;
}

.title h1{
  margin: 0% 0% 2% 0%;
  font-size: 130%;
}

.form-label {
  margin: 2% auto 3% 8%;
  text-align: left;
}

.form-label h2{
  margin: 0% 0% 2% 0%;
  font-size: 100%;
}

.form-label h3{
  margin: 0% 0% 2% 0%;
  font-size: 70%;
  font-weight: 5  00;
  color: red;
}


input[type="text"] {
  max-width: 100%;
  text-align: left;
  display: inline-block;
  width: 85%;
  height: 1em;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  font-family: inherit;
  font-size: inherit;
}
textarea {
  
  max-width: 100%;
  text-align: left;
  display: inline-block;
  width: 85%;
  height: 5em;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  font-family: inherit;
  font-size: inherit;
}

.submit-button {
  border-radius: 20px;
  border-style: solid;
  width: 25%;
  min-width: 6em;
  height: 2.6em;
  float: right;
  margin: 4% 12% 8% 12%;
  background-color: #ff7b5c;
  font-family: inherit;
  font-size: inherit;
  color: #eeeeee;
}

.half {
  margin: 10% 5%;
  width: 25%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.login-box {
  width: 100%;
  height: 100%;
  margin: 8% auto;
  background: #eeeeee;
  color: #333;
  border-radius: 10px;
  overflow: hidden;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 1200px) {

  html {
    background: -webkit-linear-gradient(#ff7b5c, #ff6c81) no-repeat;
    background: -moz-linear-gradient(#ff7b5c, #ff6c81) no-repeat;
    background: -ms-linear-gradient(#ff7b5c, #ff6c81) no-repeat;
    background: -o-linear-gradient(#ff7b5c, #ff6c81) no-repeat; 
    background: linear-gradient(#ff7b5c, #ff6c81) no-repeat;
  }

  .half {
    margin: 10% auto;
    width: 100%;
    height: 50%;
    display: block;
  }

  .login-box {
    width: 70%;
    height: 90%;
    margin: 8% auto;
    background: #eeeeee;
    color: #333;
    border-radius: 10px;
    overflow: hidden;
  }

  .submit-button {
    border-radius: 20px;
    border-style: solid;
    width: 15%;
    height: 2.6em;
    float: right;
    margin: 0% 12% 4% 12%;
    background-color: #ff7b5c;
    font-family: inherit;
    font-size: inherit;
    color: #eeeeee;
  }
}
